.projectSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 100px 200px 100px;
}

.projectImg {
    max-width: 100%; 
    height: auto;
    width: 400px; 
}

.cardContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap; 
    gap: 1.5rem; 
}

.projectLink{
    text-decoration: none;
    
}

.projectIcon {
    font-size: 2rem;
    color: #FFF;
}

.iconSection{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.comingSoonImg{
    height: 120px!important;
    width: 140px!important;
}