@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
  --color-primary: #2E0249; /*Background of sections, large areas.*/
  --color-secondary: #570A57; /*Buttons, edges, details.*/
  --color-highlight: #A91079; /*Highlight elements, hover effects.*/
  --color-accent: #F806CC; /*Calls to action, bright accents.*/
  --color-background: #1A1A2E; /*General background of the page.*/
  --color-text: #F5F5F5; /*Main text.*/
  --color-text-secondary: #CCCCCC; /*Secondary text, descriptions.*/

  --font-primary:'Roboto';
  --font-secondary: 'Orbitron';
}
html, body, #root{
  height: 100%;
  margin: 0!important;
  padding: 0!important;
}
html{
  scroll-behavior: smooth;
}

body{
  background: radial-gradient(circle at bottom, #240046, #3c096c, #10002b);
  background-attachment: fixed; 
  background-size: cover;
  color: var(--color-text);
  font-family: var(--font-primary);
}

h1 {
  color: var(--color-accent)!important; 
  font-size: 1.5rem; 
  margin: 0; 
  font-family: 'Orbitron', sans-serif;
}

h2{
  font-size: 1.8rem;
}

.highlight{
  color: var(--color-accent);
  font-weight: bold;
}
.comingSoonCard{
  height: 354px;
}

@media (max-width: 768px) {
  body {
    padding: 1rem; 
  }

  h1 {
    font-size: 1.2rem; 
  }

  h2 {
    font-size: 1.5rem; 
  }

  .comingSoonCard {
    height: auto; 
    padding: 1rem; 
  }
}