.card {
    text-align: center;
    padding: 2rem 1rem;
    background-color: #1A1A2E;
    border-radius: 10px;
    border: 2px solid #570A57;
    transition: transform 0.3s ease-out, box-shadow 0.5s ease-out, border-color 0.5s ease-out;
    width: calc(25% - 1.5rem); /* Ancho del card */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden; /* Evita que el contenido se salga del card */
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(248, 6, 204, 0.3);
    border-color: #F806CC;
}

.skillsCard{
    width: calc(25% - 8rem)!important;
}